body {
	background-color: #E0FFFF;
}

.header-contents {
	margin-left: 20px;
}

.main-contents {
	margin: 20px;
	padding: 10px 10px 5px 10px;
	background-color: #B4CCCC;
	height: 100%;
	width: 80%;
}

.errorMessages {
    color: red;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

ul {
    list-style-type: none; /* リストのマーカー（・）を無効化 */
    padding: 0; /* 左側の余白も消したい場合 */
    margin: 0; /* 上下の余白を調整 */
}

.content-icon{
    display:inline-block;
    padding-right: 6em;
}

.status-icon{
    display:inline-block;
    padding-right: 2em;
}

.safe-due {
    background-color: yellow;
}

.over-due {
    background-color: red;
}

.footer-contents {
	margin-left: 20px;
}

.content-box {
    margin: 5px 0px;
	width: 780px;
	height: 56px;
}

.delete-button{
    display:inline-block;
}

.edit-button{
    display:inline-block;
}

.edit-item{
    display:block;
}