<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>タスク編集</title>
</head>
<body>
<div class="header-contents">
  <h2>タスク編集</h2>
</div>
<div class="main-contents">
  <form th:method="put" th:action="@{/update/{id}(id=${editTasksForm.id})}" th:object="${editTasksForm}">
    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
      <p th:text="${errorMessage}"></p>
    </div>

    <div class="form-area">
      <label class="edit-item">タスク編集</label>
      <textarea class="content-box" th:field="*{content}" size="20" maxlength="200" /></textarea><br/>
      <label class="edit-item">タスク期限</label>
      <input type="text" th:field="*{limitDate}" /><br/>
      <input type="submit" value="編集" class="update-button" />
      <input name="editId" th:value="${editTasksForm.id}"  type="hidden" />
    </div>
  </form>
</div>
<div class="footer-contents">
  <form action="/">
    <input type="submit" value="戻る" />
  </form>
</div>
</body>
</html>
