<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>TOP</title>
</head>
<body>
<div class="header-contents">
  <h1>TODOリスト</h1>
</div>
<div class="main-contents">
  タスク内容　ステータス　タスク期限</br>
  <div class="tasks-icon" th:each="task : ${tasks}">
    <div>
      <span th:text="${task.content}"/>
      <div th:switch=”${task.status}”>　
      　<p th:case=”1” th:text=”未着手”></p>　
      　<p th:case=”2” th:text=”実行中”></p>　
      　<p th:case=”3” th:text=”ステイ中”></p>　
      　<p th:case=”4” th:text=”完了”></p>　
    </div>
    <span th:text="${task.limitDate}"/>
    </div>
  </div>
</div>
</body>
</html>